body {
    color: black;
    background-color: #5dade2;
    padding-left: 11em;
    font-family: 'Dancing Script';
}
h1 {
    color: black;
    font-family: 'Lobster', cursive;
    
    
}
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
        
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black 
}
ul.navbar a { 
    text-decoration: none 
}
a:link { 
    color: blue 
}
a:visited { 
    color: purple
}

/* una clase */
.center {
    text-align: center;
    color: red;
}

